// {
//     "presets": ["module:metro-react-native-babel-preset"],
//     "env": {
//         "development": {
//             "plugins": [
//                 "transform-decorators-legacy"
//             ]
//         }
//     },
//     "plugins": [
//         "@babel/plugin-proposal-decorators",
//         "@babel/plugin-proposal-class-properties"
//     ]
// }